.benefits-list {
  display: flex;
  gap: 24px;
}

.benefits-list-item {
  width: calc((100% - 72px) / 4);
}

.benefits-icon-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 112px;
  margin-bottom: 8px;
  border-radius: 4px;
  background-color: var(--secondary-accent-color);
}

.benefit-icon {
  display: block;
  margin: 24px auto;
}

.benefit-name {
  margin-bottom: 8px;
}
