.benefits-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.benefits-list-item {
  width: 100%;
}

.benefits-icon-wrapper {
  display: none;
}

.benefit-name {
  margin-bottom: 8px;

  text-align: center;
  font-size: var(--title-text-size);
  font-weight: var(--title-text-weight);
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--title-color);
}

.benefit-description {
  font-weight: var(--subtitle-text-weight);
}

/*=============================================
=            TABLET STYLES                    =
=============================================*/

@media screen and (min-width: 768px) {
  .benefits-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 72px;
  }

  .benefits-list-item {
    width: 100%;
    max-width: calc((100% - 24px) / 2);
  }

  .benefits-icon-wrapper {
    display: none;
  }

  .benefit-name {
    text-align: start;
  }
}

/*=============================================
=            DESKTOP STYLES                   =
=============================================*/

@media screen and (min-width: 1158px) {
  .benefits-list-item {
    width: calc((100% - 72px) / 4);
  }

  .benefits-icon-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 112px;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: var(--secondary-accent-color);
  }

  .benefit-name {
    font-size: var(--subtitle-text-size);
    font-weight: var(--subtitle-text-weight);
    line-height: 1.2;
    text-transform: unset;
  }

  .benefit-description {
    font-weight: inherit;
  }
}
