.team {
  background-color: var(--secondary-accent-color);
}

.team .container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.team-member-card {
  max-width: 264px;

  border-radius: 0px 0px 4px 4px;
  background: var(--secondary-color-white);
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-member-card-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 8px;
  padding: 32px 0px;
}

.team-member-name {
  text-align: center;
  font-size: var(--subtitle-text-size);
  font-weight: var(--subtitle-text-weight);
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--title-color);
}

.team-member-position {
  text-align: center;
}

/*=============================================
=            TABLET STYLES                    =
=============================================*/

@media screen and (min-width: 768px) {
  .team-list {
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 64px;
    max-width: 552px;
  }
}

/*=============================================
=            DESKTOP STYLES                   =
=============================================*/

@media screen and (min-width: 1158px) {
  .team-list {
    row-gap: 24px;
    max-width: unset;
  }
}
