h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

button {
  cursor: pointer;
}

img {
  display: block;
}

body {
  font-family: var(--main-text-family), var(--main-text-default-family);
  font-size: var(--body-text-size);
  font-weight: var(--main-text-weight);
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--primary-color-black);
  background-color: var(--secondary-color-white);
}

.list {
  list-style-type: none;
}

.link {
  text-decoration: none;
}

/*-  VISUALLY HIDDEN PATERN  -*/

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/*--------  COMPONENTS  ------*/

/* button */

.basic-btn {
  border: none;
  font-family: inherit;
  font-size: var(--btn-text-size);
  font-weight: var(--btn-text-weight);
  line-height: inherit;
  letter-spacing: 0.04em;
  background-color: var(--brand-color);
  color: var(--secondary-color-white);
}

/* logotype */

.logotype {
  font-family: var(--logo-text-family);
  font-size: var(--logo-text-size);
  font-weight: var(--logo-text-weight);
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--brand-color);
}

.logotype-right-accent {
  color: var(--title-color);
}
