.section {
  padding-top: 96px;
  padding-bottom: 96px;
}

.section-title-offset {
  margin-bottom: 72px;
  text-align: center;
}

.section-title-text {
  font-size: var(--title-text-size);
  font-weight: var(--title-text-weight);
  line-height: 1.11;
  letter-spacing: 0.72px;
  color: var(--title-color);
  text-transform: capitalize;
}

.section-subtitle {
  font-size: var(--subtitle-text-size);
  font-weight: var(--subtitle-text-weight);
  line-height: 1.2;
  letter-spacing: 0.4px;
  color: var(--title-color);
}
