/*------  MOBILE MENU  -------*/

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  transform: translateX(100%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  width: 100%;
  height: 100%;
  padding: 80px 35px 40px 40px;

  background-color: var(--secondary-color-white);

  transition: transform var(--mobile-menu-transition-duration)
    var(--transition-function);
}

/* flag for opened menu */

.is-open {
  transform: translateX(0%);
}

/*--------  CONTACTS  --------*/

.menu-contacts-list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  margin-bottom: 48px;
}

.mobile-menu .contact-phone {
  color: var(--brand-color);
}

.mobile-menu .contact:active {
  color: var(--active-element-color);
}

/*-------  SOCIAL MEDIA  -------*/

.mobile-menu .social-media-contacts-list {
  max-width: 328px;
}

@media screen and (min-width: 768px) {
  .mobile-menu {
    display: none;
  }
}
